.filt-button:focus, .filt-button:active {
  box-shadow: none;
}


.filt-name {
  float: left;
}
.filt-name:first-letter {
  text-transform: uppercase;
}


.filt-arrow {
  float: right;
}
.filt-arrow i {
  transition: transform .2s;
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
}
.filt-arrow .right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.filt-arrow .left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.filt-arrow .up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
.filt-arrow .down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}


@media (max-width: 768px) {
  .filt-button {
    font-size: 0.8em;
  }
}

@media (max-width: 568px) {
  .filt-button {
    font-size: 0.6em;
  }
}