.nav {
    padding: 20px 0px;
}

.top-nav-menu .nav {
    width: 100%;
}

.top-nav-menu a { 
    padding: 10px;
    margin: 10px 5px; 
}

.top-nav-menu .active {
    color: red;
    font-weight: bold; 
    border: solid black 1px; 
    background-color: black;
}

.side-nav-menu {
    position: fixed;
    right: 0px;
    width: 75%;
}

.side-nav-menu a { 
    padding: 8px;
    margin: 2px 5px;
    background-color: grey;
    display: block;
    width: 100%;
    text-decoration: none;
    color: white; 
}
    
.side-nav-menu .active {
    color: red;
    font-weight: bold; 
    border: solid black 1px; 
    background-color: black;
}

#PopoverLegacy {
    text-align: center;
}

#PopoverLegacy a {
    text-decoration: none;
    color: white;
}

#PopoverLegacy img {
    height: 40px;
}
