.home-jumbotron .container-fluid {
    display: flex;
    background-image: url(/database/another/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content:center;
    align-items:center;
    margin: 0;
    padding: 0em;
    text-shadow: 3px 3px #4B0082;
    color:white;
    
}

.home-menu a {
    display: block;
    text-decoration: none;
    color: rgb(0, 0, 0);
}
    .home-menu a:hover {
        transition: transform 1s;
        transform: scale(1.1);
        color: rgb(105, 26, 224);
    }
    .home-menu img {
        width: 100%;
    }

.home .card-title {
    color: rgb(105, 26, 224);
}