/*.home-jumbotron  {
    display: flex;
    background-image: url(/database/another/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content:center;
    align-items:center;
    margin: 0;
    padding: 0em;
    text-shadow: 3px 3px #4B0082;
    color:white;
    
}*/

.home-jumbotron {
    min-width: 576px;
    margin: 0;
    padding: 16em 0;

    background-image: url(/database/another/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    text-align: center;
}
.home-jumbotron h2 {
    font-size: 2.5em;
    line-height: 1.6em;
    text-shadow: 3px 3px #4B0082;
    color:white;
}

.home-menu a {
    display: block;
    text-decoration: none;
    color: rgb(0, 0, 0);
}
    .home-menu a:hover {
        transition: transform 1s;
        transform: scale(1.1);
        color: rgb(105, 26, 224);
    }
    .home-menu img {
        width: 100%;
    }

.home .card-title {
    color: rgb(105, 26, 224);
}

.home .uncontrolled-carousel {
    color: black;
}

/*@media (max-width: 1200px) {
    .home-jumbotron {
        padding: 10em;
    }
}*/