.product .card-image {
    width: 100%;
}

.product-navbar .nav-item:hover {
    cursor: pointer;
}
    .product-navbar .nav-item .active {
        font-weight: bold; 
    }
    .product-navbar .tab-content {
        margin-top: 1em; 
    }