.product-card:hover {
    color: blue;
    background-color:#DCDCDC;
    border: 3px solid #4B0082;
    /*outline: 2px solid #000;*/

    transition: transform 1s;
    transform: scale(1.05);
}

.product-card .btn-primary:hover {
    background-color: blue;
}
.product-card .btn-secondary:hover{
    background-color: red;
}

.product-card .btn-secondary:hover .btn-into{
    background-color: red;
    display: none;
}
.product-card .btn-secondary .btn-remove {
    display: none;
}
.product-card .btn-secondary:hover .btn-remove {
    display: inline;
}