.product-card:hover {
    border: none;
    outline: 2px solid rgb(108, 0, 130);
    box-shadow: 0 0 0.8em rgb(108, 0, 130);

    color: blue;
    background-color:#DCDCDC;

    transition: transform 1s;
    transform: scale(1.05);
}

.product-card .btn-primary {
    background: linear-gradient(to right, rgb(75, 0, 130), rgb(108, 0, 130));
    border:  rgb(75, 0, 130);
}
    .product-card .btn-primary:focus {
        box-shadow: 0 0 0 .2em rgb(0, 0, 0, 0.5);
    }

    /*.product-card .btn-primary:focus {
        box-shadow: none;
    }*/

    .product-card .btn-primary:hover {
        background: blue;
    }


.product-card .btn-secondary:hover {
    background-color: red;
}


.product-card .btn-secondary:hover .btn-added {
        background-color: red;
        display: none;
    }

    
.product-card .btn-secondary .btn-remove {
        display: none;
    }
    .product-card .btn-secondary:hover .btn-remove {
        display: inline;
    }