.card:hover {
    color: blue;
    background-color:#DCDCDC;
    border: 1px solid blue;
}

.card .btn-primary:hover {
    background-color: green;
}
.card .btn-secondary:hover{
    background-color: red;
}

.card .btn-secondary:hover .btn-into{
    background-color: red;
    display: none;
}
.card .btn-secondary .btn-remove {
    display: none;
}
.card .btn-secondary:hover .btn-remove {
    display: inline;
}