/*.App {
  text-align: center;
}*/

.wrapper {
  min-width: 576px;
  background-image: url(/database/another/backlong.jpg);
  background-size: 100% 100%;
}

.gallery,
.home,
.about-us {
  background-color: rgb(255, 255, 255, .95);
}

.header,
.footer {
  background-color: rgb(75, 0, 130);
  background: linear-gradient(to top right, rgb(75, 0, 130), rgb(105, 26, 224));
  
}

.product-category:first-letter {
  text-transform: uppercase;
}



.sort-bar .nav-link {
  color: rgb(75, 0, 130);
}
.sort-bar .nav-link.active {
  background-color: rgb(75, 0, 130);
  color: red;
}
