.head-account-menu .nav-item{
    padding: .4em;
    margin-left: .1em;
    background-color: black;
    color: white;
    cursor: pointer;
}
    .head-account-menu i {
        vertical-align: middle;
        font-size: 1.5em;
    }
    .head-account-menu span {
        vertical-align: middle;
        font-size: .95em;
    }


@media (max-width: 1200px) {
    .head-account-menu .nav-item { 
        padding: .2em;
    }
        .head-account-menu i {
            font-size: 1em;
        }
}

    
@media (max-width: 992px) {
    .head-account-menu .nav-item { 
        padding: .4em;
    }
        .head-account-menu i {
            font-size: 1.5em;
        }
}

@media (max-width: 768px) { 
    .head-account-menu .nav-item{
        padding: .2em;    
    }
}
    