@import '../styles/variables.scss';

// Cart
.cart {
    text-align: center;
    
    .cart-item {
        .btn-danger {
            width: 2em;
        }
    }
       
    .cart-bottom {
        text-align: right;
    }
}

// DropCart
#PopoverLegacy{
    position: relative;   
}

#head-cart-count {
    position: absolute;
    left: 1.2em;
    top: -.3em;
    
    min-width: 1.4em;
    height: 1.4em;
    border-radius: 50%;

    text-align: center;
    font-weight: bold; 
    font-size: .8em;
    line-height: 1.4em;

    background-color: $redStar;
    color: $milkyWay;

    @media (max-width: 1200px) {
        left: .6em;
    }

    @media (max-width: 992px) {
        left: 1.2em;
    }
}

.drop-cart {
    min-width: 19em;

    .popover-body {
        max-height: 30em;
        overflow: auto;

        &::-webkit-scrollbar {
            width: 6px;
            }
            
        &::-webkit-scrollbar-thumb {
            background-color: fade-out($blueSky, .5);;
        }
    }
}
