@import '../styles/variables.scss';

.modal-form {
    top: 8em;
    border-radius: 5px;

    .form {  
        margin: 1em; 
        padding: 1em;
        background-color: $lightGalaxy;

        input, select {
            width: 27em;
        }

        label {
            font-size: 1em;
            color: $milkyWay;
        }

        .submitpush:disabled {
            top: 2em;
            background-color: rgb(206, 209, 207);
            border: rgb(206, 209, 207);
        }
        
        .submitpush:enabled {
            top: 2em;
            background-color: rgb(16, 202, 56);
            border: rgb(16, 202, 56);
        }

        @media (max-width: 576px) {
            input, select {
                width: 31em;
            }
        }
    } 

}




