.header a {
    text-decoration: none;
    color: white;
}

.head-logo,
.head-search,
.head-account-menu {
    display: flex;
    align-items: center;
    height: 4em;
}
.head-nav-menu {
    display: flex;
    align-items: center;
    height: 2.8em;
}

@media (max-width: 768px) { 
    .head-logo,
    .head-search,
    .head-account-menu,
    .head-nav-menu {
        height: 3em;
    }
}


