@import '../styles/variables.scss';

.home-jumbotron {
    min-width: 576px;
    margin: 0;
    padding: 16em 0;
    background-image: url(/database/another/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;

    h2 {
        font-size: 2.5em;
        line-height: 1.6em;
        text-shadow: 3px 3px $darkGalaxy;
        color: $white;
    }
}
