@import '../styles/variables.scss';
@import '../styles/mixins.scss';

.locations {
    .coordinates {
        display: inline-block;
        // z-index: 1 !important;
        margin: 1em;
        padding: .2em;
        background-color: beige;
        color: black;
        font-weight: bold;
    }
     
    .mapContainer {
        margin: 1em;
        width: 100%;
        height: 499px;
    }

    .mapboxgl-marker {
        .marker-button {
            cursor: pointer;
            font-size: 1em;
            font-weight: bold;
            color: $galaxy;
        
            img {
                width: 1.8em;
                height: 1.8em;
                border-radius: .2em;
            }
        }
    }

    

    // .list-group-item {
    //     h
    // }

}

.mapboxgl-popup {
    .mapboxgl-popup-content {
        h5 {
            color: $galaxy;
        }
    }
}


