.head-logo a {
    display: block;
}
    .head-logo a img {
        vertical-align: middle;
        height: 2.8em;
    }
    .head-logo a span {
        vertical-align: middle;
        font-size: 1.8em;
    }


@media (max-width: 768px) { 
    .head-logo a img {
        height: 2em;
    }
        .head-logo a span {
            font-size: 1.5em;
        }
}
