$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$red: rgb(255, 0, 0);

$darkGalaxy: rgb(75, 0, 130);
$galaxy: rgb(108, 0, 130);
$lightGalaxy: rgb(105, 26, 224);

$clearSky: rgb(125, 179, 241);
$blueSky: rgb(0, 123, 255);
