@import './styles/variables.scss';

.wrapper {
  min-width: 576px;
  background-image: url(/database/another/backlong.jpg);
  background-size: cover;
}

.gallery,
.home,
.product,
.about-us,
.cart,
.locations {
  min-height: calc(100vh - 100px);
  background-color: fade-out($milkyWay, .05);
  padding-bottom: 1em;
}

.header,
.footer {
  background-color: $darkGalaxy;
  background: linear-gradient(to top right, $darkGalaxy, $lightGalaxy);
}

.product-category:first-letter {
  text-transform: uppercase;
}

