.wrapper {
  min-width: 576px;
  background-image: url(/database/another/backlong.jpg);
  background-size: cover;
}

.gallery,
.home,
.product,
.about-us,
.cart {
  min-height: calc(100vh - 100px);
  background-color: rgb(255, 255, 255, .95);
  padding-bottom: 1em;
}

.header,
.footer {
  background-color: rgb(75, 0, 130);
  background: linear-gradient(to top right, rgb(75, 0, 130), rgb(105, 26, 224));
  
}

.product-category:first-letter {
  text-transform: uppercase;
}

